### Printing and Variable types in python

In [1]:
print('Hello World')

Hello World

In [2]:
3+2

5

In [3]:
print(3+3)

6

#### Variable and Types

- numbers
- strings
- lists
- sets

#### Numbers

Numbers in python are of two types, we have integers (whole numbers), and floating point numbers (decimal numbers / float)

In [4]:
3

3

In [5]:
num = 30
print(num)

30

In [6]:
myfloat = 2.0467
print(myfloat)

2.0467

In [8]:
result = num*myfloat
print(result)

61.400999999999996

In [18]:
#changing from int to float
new_num = float(num)
print(new_num)

30.0

In [19]:
#chnaging from number from float to int
new_float = int(myfloat)
print(new_float)

2

In [37]:
#defining more than one variable on a line
num1 , num2 , num3 = 5, 6, 10
print(num1, num2)

5 6

#### strings

Strings are words. strings are defined in quotation marks. either single quotation or double quotation

In [21]:
mystring = "Hello"
print(mystring)

Hello

In [28]:
mynewstring = 'Hello'
print(mynewstring)

Hello

Double quotation makes it easier to includ apostrophe in the string

In [23]:
warning = 'Don't come here'
print(warning)

SyntaxError: invalid syntax (Temp/ipykernel_50896/1211152049.py, line 1)

In [24]:
warning = "Don't come here"
print(warning)

Don't come here

In [26]:
another_warning = 'Don\'t come here'
print(another_warning)

Don't come here

we can perform arithmetic operations on strings

In [33]:
greeting = mystring +', '+ warning
print(greeting)

Hello, Don't come here

In [34]:
num = 4
num5 = 10
num6 = num +num5
print(num6)

14

In [35]:
one = 1
two = 2
three = one+ two
print(three)

3

In [36]:
print(num5, num6,three, mystring)

10 14 3 Hello

mixing operators between numbers and strings will not work

In [39]:
#this is wrong
print(one + two + mystring)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
#convert from int or float to string
new_one = str(one)
new_two = str(two)
print(new_one + new_two +mystring)

12Kawthar

In [47]:
result = new_one + new_two
print(result)

12

In [48]:
result +3

TypeError: can only concatenate str (not "int") to str

#### Mini exercise
1. create a string, an integer, and a floating point number
- the string should be named 'mystring' and contain your name
- the integer should be name 'myint' and should contain number 50
- the float should be named 'myfloat' and shoud contain the number 8.98

In [42]:
mystring = 'Kawthar'
myint = 50
myfloat = 8.98

2. Using print, output the statement 'My name is xxxx and i'm 16 years old'
 - given variable name (your name)
 - variabe age = 16

In [49]:
name = 'Kawthar'
age = 16
print("My name is " + name, "and i'm", age, "years old")

My name isKawthar and i'm 16 years old

#### lists

a list can contain any type of variable and as many variables as you want

In [50]:
#creating a list

mylist = [] #an empty list
new_list = ['halimat', 'Nancy', 'Firdaws', 50, 65, 13, 8.9, name, age] #list can contain any var type

# we can use append to add an item to a list
mylist.append(10)
print(mylist)

[10]

In [60]:
grades = [10, 12, 9, 5, 15]
grades.append(20)
print(grades)

[10, 12, 9, 5, 15, 20]

In [66]:
#insert at specific index
vowel = ['a', 'e', 'i','u']
vowel.insert(3, 'o')
print(vowel)

['a', 'e', 'i', 'o', 'u']

In [61]:
#remove item using the item itself
grades.remove(9)
print(grades)

[10, 12, 5, 15, 20]

In [64]:
#remove item using index
del grades[3]
print(grades)

[10, 12, 5, 20]

In [65]:
#remove the last element
grades.pop()
print(grades)

[10, 12, 5]

In [51]:
mylist.append('Funmilayo')
print(mylist)

[10, 'Funmilayo']

In [52]:
mylist.append(age)
print(mylist)

[10, 'Funmilayo', 16]

indexing starts from zero. this means to refrence an item in a list, the first item takes index zero

In [79]:
print(mylist[0], mylist[2]) #print element in index 0 and 2
print(mylist[1:3])#prints elements from index 1 to indes(3-1)
print(mylist[0:]) #prints all the elements in the list
print(mylist[:2]) #prints from beginning of the list to index (2-1)

10 16
['Funmilayo', 16]
[10, 'Funmilayo', 16]
[10, 'Funmilayo']

In [57]:
#this index is out of range and will give an error
print(mylist[5])

IndexError: list index out of range

In [77]:
print(mylist + vowel) #we can add two lists together

[10, 'Funmilayo', 16, 'a', 'e', 'i', 'o', 'u']

In [78]:
print(mylist*2) #prints mylist twice

[10, 'Funmilayo', 16, 10, 'Funmilayo', 16]

In [80]:
print(mylist)

[10, 'Funmilayo', 16]

#### mini exercise

1. add numbers or strings to the correct list using the append method
2. remove the last element from each of the lists using different methods
3. justify your choice of methods in 2 above
4. print out the last two elements in any of the list using slicing

In [81]:
strings = []
numbers = []